.modals-backdrop {
  background: transparent;
}
.modal {
  background-color: rgba(0, 14, 37, 0.85);
  -moz-box-shadow:0px 0px 20px #13AACC; -webkit-box-shadow:0px 0px 20px #13AACC; box-shadow:0px 0px 20px #13AACC;
  color: #FFFFFF;
}
.modal .title {
  text-shadow: 0px 0px 10px rgba(23, 212, 245, 1);
  font-weight: bolder;
}